.header {
    padding: 15px 25px;
    text-align: left;
    background-color: DodgerBlue;
    font-size: 30px;
}

.header a {
    background-color: white;
    border: none;
    color: black;
    padding: 11px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;

}

.header a:hover {
    background-color: lightgrey;
}

