.welcome {
    text-align: center;
    
}



.welcome > h1, h3{
    text-transform: capitalize;
}

.index-info{
    padding-top: 3rem;
    margin: 0 auto;
    width: 50%;
}

#hi {
    padding-top: 2em;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.index-container{
    /* We first create a flex layout context */
    display: grid;
    grid-template-areas: "d1 picture" 
                         "d2 picture"
                         "d3 picture"
                         "d4 picture";

    justify-items: center;
    align-content: center;
    align-items: center;
}

.index-item{
    width: 18rem;
    text-align: center;
    font-size: large;
    
}

.career-goals {
    padding-top: 4em;
    text-transform: none;
    text-align: center;
    font-family: Jost;
}

.index-picture{
    grid-area: picture;
    
}

.index-picture img {
    height: 25em;
}


body {
    font-family: Jost;
    margin: 0;
}

.navbox {
    display: table;
    background-color: lightgrey;
    width: 10rem;
    height: 10rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    align-self: stretch;
    cursor: pointer;
}

span {
    display: inline-block;
    vertical-align: middle;
    color: black;
    line-height: 10rem;

}

.navbox:hover {
    background-color: grey;
    
}

.navboxes {
    display: grid;
    grid-template-columns: repeat(3, 12rem);

    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}



@media only screen and (max-width: 600px) {
    .index-picture {visibility: hidden;}
}